@page
@model NEWFLASH.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="padding-left: 80px; padding-right: 80px;">
    <div class="text-center text-xxl-start">
        <h1 class="display-5 text-primary fw-light mb-3">WORLD WIDE NEWS</h1>
        <span class="badge text-bg-primary mb-4">Real news. Anytime.</span>

        <form method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{
                    bool isFirst = true;
                    if (Model.NewsArticles?.Articles != null)
                    {
                        int articlesPerPage = 4; // Change this to adjust the number of articles per page
                        int totalArticles = Model.NewsArticles.Articles.Count;
                        int pageCount = (int)Math.Ceiling((double)totalArticles / articlesPerPage);

                        for (int i = 0; i < pageCount; i++)
                        {
                            <div class="carousel-item @(isFirst ? "active" : "")">
                                <div class="row">
                                    @for (int j = i * articlesPerPage; j < Math.Min((i + 1) * articlesPerPage, totalArticles); j++)
                                    {
                                        var article = Model.NewsArticles.Articles[j];
                                        if (!string.IsNullOrEmpty(article.UrlToImage) && !string.IsNullOrEmpty(article.Title) && !string.IsNullOrEmpty(article.Description) && !string.IsNullOrEmpty(article.Url))
                                        {
                                            <div class="col-lg-3">
                                                <div class="card mb-4">
                                                    <img src="@article.UrlToImage" class="card-img-top" alt="@article.Title">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@article.Title</h5>
                                                        <p class="card-text">@TruncateDescription(article.Description, 15)</p>
                                                        <a href="@article.Url" class="btn btn-primary" target="_blank">Read more</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            isFirst = false; // Ensures that only the first item has the 'active' class
                        }
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


@functions {
    public string TruncateDescription(string description, int wordLimit)
    {
        if (string.IsNullOrEmpty(description))
        {
            return string.Empty;
        }

        var words = description.Split(' ');
        if (words.Length <= wordLimit)
        {
            return description;
        }

        return string.Join(' ', words.Take(wordLimit)) + "...";
    }
}


<style>
    body {
        background-color: white;
    }
</style>

<script src="~/js/app.js"></script>
<script src="~/js/datatables.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Datatables Orders
        $("#datatables-orders").DataTable({
            responsive: true,
            aoColumnDefs: [{
                bSortable: false,
                aTargets: [-1]
            }]
        });
    });
</script>
